name: Deploy to Northflank

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Northflank
        uses: northflank/deploy-to-northflank@v1.0.0
        with:
          northflank-api-key: ${{ secrets.NORTHFLANK_API_KEY }}
          project-id: palmDetection      # project-id كما يظهر في رابط Northflank
          service-id: palmDetection      # service-id كما يظهر في رابط Northflank
          image-path: registry.northflank.com/palmDetection/palmDetection:latest
